.aboutMe__section {
  margin: 140px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1660px;
}

.aboutMe__container {
  max-width: 70%;
  padding: 3rem;
  border-radius: 3rem;
  background-color: hsla(var(--p-600-code), 0.1);
}

.aboutMe__content_container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 3rem 0;
  border-radius: 3rem;

  & h1 {
    color: var(--p-600);
  }

  & p {
    color: var(--n-600);
    padding: 0 1rem;
  }
}

.CTA {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 90%;

  & a {
    padding: 12px 12px;
    width: 240px;
    max-width: 80%;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    /* transition: all 0.3s ease; */
  }
}

.primaryButton {
  color: white;
  background-color: var(--p-600);
  box-shadow: 0 3px 6px -1px hsla(var(--p-900-code), 0.2),
    0 1px 2px hsla(var(--p-900-code), 0.5);

  &:hover {
    background-color: var(--p-700);
  }
}

.outlineButton {
  border: 1px solid var(--p-600);
  color: var(--p-600);
  background-color: transparent;

  &:hover {
    box-shadow: 0 4px 8px hsla(var(--p-900-code), 0.1),
      0 2px 4px hsla(var(--p-900-code), 0.2);
  }
}
