header {
  margin-top: 40px;
}

.header__container {
  display: flex;
  gap: 40px;
}

.header__title {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  font-weight: 600;
}

.header__column--left {
  display: flex;
  flex: 1;
  gap: 24px;
  align-items: center;

  & .header__content--left {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  & .header__badge_container {
    display: flex;
    gap: 6px;
    text-align: center;
  }

  & .badge {
    color: var(--p-950);
    background-color: var(--p-50);
  }
}
